@page "/"

<h2 class="bg-light border p-2">
    First Room
</h2>

Room: @blazorRoom.RoomName
<br />
Active: @blazorRoom.IsActive
<br />
Price: @blazorRoom.Price
<br />

<input type="number" @bind-value="blazorRoom.Price" @bind-value:event="oninput"/><br />
<input type="checkbox" @bind-value="blazorRoom.IsActive" checked="@(blazorRoom.IsActive ? "checked" : null)" />


@code {
    Model.BlazorRoom blazorRoom = new Model.BlazorRoom()
    {
        Id = 1,
        RoomName = "Villa Suite",
        IsActive = true,
        Price = 499
    };
}

